<div class="registration-page">
  <div class="registration-block">

    <form id="regForm" [formGroup]="addNewUser" class="registration-form" (ngSubmit)="onSubmit()" novalidate>

      <div class="registration-text">Registration</div>

      <div class="input-block">
        <label class="text-form">Name</label>
        <input type="text" name="name" formControlName="name">

        <div class="alert alert-danger my-alert" *ngIf="addNewUser.controls['name'].invalid && addNewUser.controls['name'].touched">
          Please enter your name
        </div>
      </div>

      <div class="input-block">
        <label class="text-form">Surname</label>
        <input type="text" name="surname" formControlName="surname">

        <div class="alert alert-danger my-alert" *ngIf="addNewUser.controls['surname'].invalid && addNewUser.controls['surname'].touched">
          Please enter your surname
        </div>
      </div>

      <div class="input-block">
        <label class="text-form">Telephone number</label>
        <input type="text" name="telephone" formControlName="telephone">

        <div class="alert alert-danger my-alert" *ngIf="addNewUser.controls['telephone'].invalid && addNewUser.controls['telephone'].touched">
          Please enter your telephone number
        </div>
      </div>

      <div class="input-block">
        <label class="text-form">Email</label>
        <input type="email" name="email" formControlName="email">

        <div class="alert alert-danger my-alert" *ngIf="addNewUser.controls['email'].invalid && addNewUser.controls['email'].touched">
          Please enter your email
        </div>
      </div>

      <div class="input-block">
        <label class="text-form">Password</label>
        <input type="password" name="password" (change)="onChange($event)" formControlName="password">

        <div class="alert alert-danger my-alert" *ngIf="addNewUser.controls['password'].invalid && addNewUser.controls['password'].touched">
          Please enter password
        </div>
      </div>

      <div class="button-block px-5 mt-2">
        <button class="button-form" type="submit" [disabled]="!addNewUser.valid">Add</button>
        <button class="button-form" type="button" routerLink="/">Back</button>
      </div>

    </form>
  </div>

</div>
