.about-us{
  font-family: 'Poppins', sans-serif;
}

.main-photo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-style{
  object-fit: cover;
  height: 300px;
  position: relative;
}
.big-text-photo{
  color: white;
  position: absolute;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  font-size: 80px;
  font-family: 'Poppins', sans-serif;
}


.big-aboutUs{
  font-weight: 700;
  color: #151515;
  font-size: 36px;
  font-family: 'Poppins', sans-serif;
}

.small-aboutUs{
  color: #848484;
  font-size: 14px;
}

.big-artists{
  color: #151515;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.artist-photo-block{
  text-align: center;
}

.artist-photo{
  padding: 16px;
  object-fit: cover;
  text-align: center;
  width: 400px;
  height: 400px;
}

.painter{
  color: #151515;
  font-size: 24px;
}

.line-separator-top{
  border-top: 1px solid #f1f1f1;
}

@media (max-width: 500px) {
  .artist-photo{
    width: 100%;
  }
}

@media (max-width: 767px) {
  .big-text-photo{
    font-size: 50px;
  }
}
