<!--<div class="header-gallery">-->
  <div class="navbar navbar-expend-lg navbar-light py-3" style="background-color: white">
    <img src="../../../assets/logo.png" alt="logo" class="header-logo">
    <div class="link-block">
      <a routerLink="/registration" class="header-link">Registration</a>
      <a routerLink="/authorization" class="header-link">Authorization</a>
    </div>
  </div>

  <div class=" navigation-block row text-center py-3">
    <a routerLink="/" class="navigation col-md">HOME</a>
    <a routerLink="/artists" class="navigation col-md">ARTISTS</a>
    <a routerLink="/exhibitions" class="navigation col-md">EXHIBITIONS</a>
    <a routerLink="/gallery" class="navigation col-md">GALLERY</a>
    <a routerLink="/contacts" class="navigation col-md">CONTACTS</a>
  </div>
<!--</div>-->

