.exhibitions {
  font-family: 'Poppins', sans-serif;
}

.main-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-style {
  object-fit: cover;
  height: 300px;
  position: relative;
}

.big-text-photo {
  color: white;
  position: absolute;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  font-size: 80px;
  font-family: 'Poppins', sans-serif;

}

.main-text-exhibition {
  color: lightblue;
  font-size: 20px;
  padding: 10px 0;
}

.name-exhibition {
  color: #151515;
  font-size: 20px;
  font-weight: bold;
}

.date-exhibition {
  color: #151515;
  font-size: 20px;
  font-weight: bold;
}

.about-exhibition {
  color: #151515;
  font-size: 14px;
}

.row {
  width: 100%;
}

@media (max-width: 767px) {
  .big-text-photo {
    font-size: 50px;
  }
}
