.exhibitions{
  font-family: 'Poppins', sans-serif;
}

.main-text-exhibition{
  color: #af9f7b;
  font-size: 20px;
}

.name-exhibition{
  color: #151515;
  font-size: 24px;
  font-weight: bold;
}

.date-exhibition{
  color: #151515;
  font-size: 20px;
  font-weight: bold;
}

.about-exhibition{
  color: #151515;
  font-size: 15px;
}
