.exhibitions{
  font-family: 'Poppins', sans-serif;
}

.photo-style{
  object-fit: cover;
  height: 300px;
  position: relative;
}
.big-text-photo{
  color: white;
  position: absolute;
  bottom: 530px;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  font-size: 80px;
  left: 100px;
  font-family: 'Poppins', sans-serif;
}

.main-text-exhibition{
  color: lightblue;
  font-size: 20px;
  padding: 5px 0;
}

.name-exhibition{
  color: #151515;
  font-size: 24px;
  font-weight: bold;
}

.date-exhibition{
  color: #151515;
  font-size: 20px;
  font-weight: bold;
}

.about-exhibition{
  color: #151515;
  font-size: 15px;
}

@media (max-width: 767px) {
  .big-text-photo{
    bottom: 470px;
    font-size: 50px;
    left: 15px;
  }
}
