.contacts{
  font-family: 'Poppins', sans-serif;
}

.big-textContacts{
  font-size: 40px;
  color: #151515;
  font-weight: bold;
  text-align: center;
}
.small-textContacts{
  font-size: 14px;
  color: #848484;
  text-align: center;
}
.button-style{
  background-color: #af9f7b;
  color: white;
}

