.contacts{
  font-family: 'Poppins', sans-serif;
}

.main-photo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-style{
  object-fit: cover;
  height: 300px;
  position: relative;
}
.big-text-photo{
  color: white;
  position: absolute;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  font-size: 80px;
  font-family: 'Poppins', sans-serif;

}

.big-textContacts{
  font-size: 40px;
  color: #151515;
  font-weight: bold;
  text-align: center;
}
.small-textContacts{
  font-size: 14px;
  color: #848484;
  text-align: center;
}
.button-style{
  background-color: #af9f7b;
  color: white;
}

@media (max-width: 767px) {
  .big-text-photo{
    font-size: 50px;
  }
}
