<div class="row">
  <div class="col-sm pt-2">
    <iframe class="iframe-block" src="https://yandex.ru/map-widget/v1/?um=constructor%3A6dc526b50e12d5d82bb716291d3760a002091045fc9672f6dc961c05cd9265d1&amp;source=constructor" width="100%" height="500" frameborder="0"></iframe>
  </div>
  <div class="col-sm pt-2">
    <div class="info-block">ABOUT US</div>
    <div class="info-text">Minsk, Belarus</div>
    <a href="tel:+375447365792" class="info-text">+375 (44) 736-57-92</a>
    <a href="mailto:hanna.burkovskaya@gmail.com" class="info-text">hanna.burkovskaya@gmail.com</a>
    <div class="info-block">OPENNING HOURS</div>
    <div class="info-text">Weekdays:  8:00-20:00</div>
    <div class="info-text">Weekends:  9:00-18:00</div>
    <div class="info-block">FOLLOW US</div>
    <a href="https://www.instagram.com/hanna.burkovskaya/" class="info-text">Instagram</a>
    <a href="https://twitter.com/hanna_burkovsk" class="info-text">Twitter</a>
    <a href="https://www.facebook.com/people/%D0%90%D0%BD%D0%BD%D0%B0-%D0%91%D1%83%D1%80%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F/100004881244289" class="info-text">Facebook</a>
  </div>
</div>
