<div class="main-gallery">

  <div class="main-gallery-photo pb-5">
    <img src="../../../assets/112.jpg" alt="photo gallery" class="big-main-photo w-100 pb-5">
    <h1 class="big-main-text">ART GALLERY</h1>
    <div class="small-main-text">showcasing the best works of art</div>
    <a routerLink="/artists" class="button-main px-5 py-3">our artists</a>
  </div>

  <div class="block-aboutUs pb-5">
    <div class="row">

      <div class="col-lg-1"></div>
      <div class="col-lg pt-5">
        <img src="../../../assets/223.jpg" alt="photo gallery" class="px-5 w-100">
      </div>
      <div class="col-lg pt-5">
        <h3 class="big-aboutUs px-5">A Few Words About Us</h3>
        <div class="small-aboutUs px-5">Our Gallery offers you a qualitatively different approach to the usual practice
          in the field of art trade. We have a decent selection of options for exclusive author's gifts of different
          directions and price categories. Along with painting, graphics, sculpture, in our Gallery you will find a wide
          range of designer interior decoration items. We will be happy to help you create an individual proposal within
          the allocated budget.
          <br>
          <br>
          "Art Gallery" organizes not only exhibitions of popular artists of Belarus, but also periodically opens new
          names in contemporary art.
        </div>
      </div>
      <div class="col-lg-1"></div>

    </div>
  </div>


  <div class="block-pressAboutUs pb-5">

    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg pt-5">
        <h3 class="big-aboutUs px-5">Press About Us</h3>
        <div class="small-aboutUs px-5">Like any living organism, the museum is constantly growing, replenishing its
          funds. The collection of Belarusian and Russian art, Western European art, the art of the countries of the
          East, contemporary Belarusian art now numbers more than 30 thousand works.
          <br>
          <br>
          A museum is not only paintings, it is also people, thanks to whose efforts in different periods of history new
          expositions are created, exhibitions are organized, books and catalogs are published, works of art are
          replenished, stored, researched, restored and promoted. Now the staff of the museum numbers about three
          hundred people who adequately continue the traditions of their senior museum colleagues.
        </div>
      </div>
      <div class="col-lg pt-5">
        <img src="../../../assets/222.jpg" alt="photo gallery" class="px-5 w-100">
      </div>
      <div class="col-lg-1"></div>
    </div>

  </div>


  <div class="line-separator p-3">
    <h3 class="line-separator-name d-inline-block">Works Of Artist</h3>
    <a routerLink="/gallery" class="d-inline-block float-right line-separators-text">See All Works</a>
  </div>

  <app-gallery-in-main></app-gallery-in-main>


  <div class="line-separator p-3">
    <h3 class="line-separator-name d-inline-block">A Little More About Us</h3>
  </div>


  <div class="prices-testimonials py-5">

    <div class="row">
      <div class="col-lg">
        <h3 class="works-name d-inline-block pl-5">Our Prices</h3>
        <div class="bc-pricesTestimonials m-3">
          <div class="type-picture pt-5 px-5">Acrylic</div>
          <div class="price pt-5 pr-5">$95</div>
          <div class="about-picture px-5">Acrylic paintings are the most popular among our artists, their clients, and
            our gallery visitors. This type of paintings is safe for your health and is less affected by heat, while
            expressing a vast range of colours.
          </div>
          <div class="type-picture pt-5 px-5">Oil</div>
          <div class="price pt-5 pr-5">$55</div>
          <div class="about-picture px-5">Being a basic painting material for artists since ancient times, oil provides
            great possibilities even today. Its transparency, opacity, and translucency allow to create the most
            captivating color fusions.
          </div>
          <div class="type-picture pt-5 px-5">Mixed Technique</div>
          <div class="price pt-5 pr-5">$15</div>
          <div class="about-picture px-5 pb-5">A mixed media painting is one which combines different painting and
            drawing materials and methods, rather than only one medium. Such artworks are becoming more popular due to
            artists’ intense creativity.
          </div>
        </div>
      </div>

      <div class="col-lg">
        <h3 class="works-name d-inline-block pl-5">Testimonials</h3>
        <a routerLink="/testimonials" class="testimonial-link">View all</a>
        <div class="bc-pricesTestimonials m-3">
          <div class="testimonial">
            <img src="../../../assets/testimonials.png" class="p-5 d-inline-block">
            <div class="main-testimonial pt-5 pr-5">Great atmosphere and lots ov impressive paintings</div>
          </div>
          <div class="second-testimonial px-5 pb-5">My friends is an connoisseur, so she brought me here and I`m amazed.
            I got to see so many different types of beautiful art in one place, so I`m thrilled and i feel like Art
            Gallery helps me develop my taste for art. I think it`s nice that there`s a big range of prices and I`m
            considering buying a painting here.
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
