.main-gallery{
  font-family: 'Poppins', sans-serif;
}

.row{
  width: 100%;
}

.main-gallery-photo{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-evenly;
  justify-content: space-evenly;
  height: 500px;
  width: 100%;
  padding-top: 70px;
  padding-right: 10%;
}

.big-main-photo{
  height: 500px;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -10;
}

.big-main-text{
  color: white;
  font-size: 100px;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  font-family: 'Poppins', sans-serif;

}
.small-main-text{
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  font-family: 'Poppins', sans-serif;

}
.button-main{
  background-color: lightblue;
  color: white;
  font-size: 18px;
  box-shadow: 0 0 10px black;
  font-family: 'Poppins', sans-serif;

}

.artist-photo-block{
  text-align: center;
}
.big-aboutUs{
  font-weight: 700;
  color: #151515;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
}


.sec{
  padding-left: 10px;
}

.line-separator{
  border-bottom: 1px solid #f1f1f1;
}
.line-separator-name{
  font-size: 25px;
  color: #151515;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}
.line-separators-text{
  font-size: 18px;
  color: #151515;
  font-family: 'Poppins', sans-serif;
}

.works-name{
  font-size: 24px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.bc-pricesTestimonials{
  background-color: #f1f1f1;
}

.type-picture{
  width: 80%;
  font-size: 20px;
  color: #151515;
  font-weight: 500;
  display: inline-block;
}

.price{
  font-size: 20px;
  color: #151515;
  font-weight: 500;
  display: inline-block;
  float: right;
}

.about-picture{
  font-size: 14px;
  color: #848484;
}

.main-testimonial{
  line-height: 1.4;
  font-size: 24px;
  color: #151515;
  display: inline-block;
  font-weight: 700;
  width: 65%;
}

.second-testimonial{
  color: #848484;
  font-size: 14px;
}

@media (max-width: 600px) {
  .main-testimonial{
    width: 50%;
  }
}

@media (max-width: 950px) {
  .main-gallery-photo{
    height: 300px;
    padding: 0;
  }
  .big-main-photo{
    height: 300px;
  }
  .big-main-text{
    font-size: 60px;
  }
  .small-main-text{
    font-size: 30px;
  }
  .button-main{
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .main-gallery-photo{
    height: 300px;
    padding: 0;
  }
  .big-main-photo{
    height: 300px;
  }

}

@media (max-width: 550px) {
  .main-gallery-photo{
    height: 400px;
  }
  .big-main-photo{
    height: 400px;
  }

}
