<div class="testimonial-page">
  <a class="back" routerLink="/">← Back</a>
  <app-page-testimonials-form (addNewOutput)="addNewTestimonial($event)"></app-page-testimonials-form>

  <div class="testimonial-block" *ngFor="let item of list | slice:0:counter">
    <div class="testimonial-article">
      <div class="testimonial-name">{{item.name}}</div>
      <div class="testimonial">
        <img src="../../../assets/testimonials.png" class="testimonial-image">
        <div class="testimonial-text">{{item.testimonial}}</div>
      </div>
    </div>
  </div>

  <div class="button-block mb-5 mt-2">
    <button class="button-style" (click)="onLoad()">View more</button>
  </div>

</div>
