.back {
  display: inline-block;
  outline: none;
  padding: 20px 40px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: #4a4a4a;
}

.testimonial-block{
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.testimonial-article{
  background-color: #f1f1f1;
  width: 50%;
  margin: 10px 0;
}

.testimonial-name{
  padding: 48px 48px 20px 48px;
  color: #151515;
  font-size: 24px;
}

.testimonial{
  padding: 0 48px 48px 48px;
  display: flex;
  flex-direction: row;
}

.testimonial-text{
  color: #848484;
}

.testimonial-image{
  padding-right: 20px;
  height: 30px;
}
