<div>

  <div class="gallery-main-block py-5 px-3">

    <div class="block-with-array" *ngFor="let item of list">
      <div *ngIf="item.huge">
        <img src="http://localhost:3010/images/{{item.picture}}" alt="paint" class="article-img article-huge">
      </div>
      <div *ngIf="!item.huge">
        <div *ngFor="let itemm of list[1]">
          <div *ngIf="itemm.url1">
            <img src="http://localhost:3010/images/{{itemm.url1}}" alt="paint" class="article-img article-small">
          </div>
          <div *ngIf="itemm.url2">
            <img src="http://localhost:3010/images/{{itemm.url2}}" alt="paint" class="article-img article-small">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!--    <article class="article article-huge" *ngFor="let item of list">-->
<!--      <img *ngIf="item.huge" class="article-img" src="{{item.url}}" alt="paint">-->
<!--    </article>-->

<!--    <article class="article article-small" *ngFor="let item of list">-->
<!--      <img *ngIf="!item.huge" class="article-img" src="{{item.url}}" alt="paint">-->
<!--      <img *ngIf="!item.huge" class="article-img" src="{{item.url}}" alt="paint">-->
<!--    </article>-->

<!--    <article class="article article-huge">-->
<!--      <img class="article-img" src="assets/8.jpg" alt="">-->
<!--    </article>-->

<!--    <article class="article article-small">-->
<!--      <img class="article-img" src="assets/9.jpg" alt="">-->
<!--      <img class="article-img" src="assets/10.jpeg" alt="">-->
<!--    </article>-->

