<div class="contacts">

  <div class="main-photo pt-0 pb-2">
    <img src="../../../assets/112.jpg" class="photo-style w-100">
    <h1 class="big-text-photo">CONTACTS</h1>
  </div>

  <div class="block-contacts py-5">

    <div class="row">
      <div class="col-lg-7 px-5">
        <img src="assets/24.jpg" alt="photo" class="contact-photo pb-5">
      </div>


      <div class="info-social-block col-lg-5 px-4">
        <div class="big-text-social">GET SOCIAL</div>
        <a href="#" class="small-text-social">Our instagram</a>
        <a href="#" class="small-text-social">Our twitter</a>
        <a href="#" class="small-text-social last">Our facebook</a>
        <div class="big-text-social">PHONE</div>
        <a href="tel:+375447365792" class="small-text-social last">+375 (44) 736-57-92</a>
        <div class="big-text-social">ADDRESS</div>
        <div class="small-text-social last">Minsk, Yakuba Kolasa 1</div>
        <div class="big-text-social">OPENNING HOURS</div>
        <div class="small-text-social">Weekdays: 8:00–20:00</div>
        <div class="small-text-social last">Weekends: 9:00–18:00</div>
      </div>
    </div>
  </div>

</div>
