<div class="pt-0 pb-2">
  <img src="assets/2gallery.jpg" alt="photo gallery" class="w-100">
</div>

<div class="py-5">
  <div class="row">
    <div class="col-md p-0">
      <img src="assets/5.jpg" alt="paint" class="w-100 cover">
      <div class="namePaint">De sterrennacht</div>
    </div>
    <div class="col-md p-0">
      <img src="assets/6.jpg" alt="paint" class="w-100 cover">
      <div class="namePaint">Madonna Litta</div>
    </div>
    <div class="col-md p-0">
      <img src="assets/7.jpg" alt="paint" class="w-100 cover">
      <div class="namePaint">Nascita di Venere</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md p-0">
      <img src="assets/8.jpg" alt="paint" class="w-100 cover">
      <div class="namePaint">Над городом</div>
    </div>
    <div class="col-md p-0">
      <img src="assets/9.jpg" alt="paint" class="w-100 cover">
      <div class="namePaint">Der Kuß</div>
    </div>
    <div class="col-md p-0">
      <img src="assets/10.jpeg" alt="paint" class="w-100 cover">
      <div class="namePaint"> La Danse</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md p-0">
      <img src="assets/11.jpeg" alt="paint" class="w-100 cover">
      <div class="namePaint">La persistencia de la memoria</div>
    </div>
    <div class="col-md p-0">
      <img src="assets/12.jpg" alt="paint" class="w-100 cover">
      <div class="namePaint">Девочка с персиками</div>
    </div>
    <div class="col-md p-0">
      <img src="assets/13.jpg" alt="paint" class="w-100 cover">
      <div class="namePaint">Le fils de l'homme</div>
    </div>
  </div>
</div>
