.gallery{
  font-family: 'Poppins', sans-serif;
}

.paint{
  object-fit: cover;
  height: 400px;
  padding: 10px;
}

.name-paint{
  font-size: 24px;
  color: #151515;
  text-align: center;
}

@media (max-width: 768px) {
  .cover{
    height: 500px;
  }
}
