.gallery{
  font-family: 'Poppins', sans-serif;
}

.photo-style{
  object-fit: cover;
  height: 300px;
  position: relative;
  font-family: 'Poppins', sans-serif;
}
.big-text-photo{
  color: white;
  position: absolute;
  bottom: 530px;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  font-size: 80px;
  left: 100px;
}

.paint{
  object-fit: cover;
  height: 400px;
  padding: 10px;
}

.name-paint{
  font-size: 24px;
  color: #151515;
  text-align: center;
}

@media (max-width: 768px) {
  .cover{
    height: 500px;
  }
}
@media (max-width: 767px) {
  .big-text-photo{
    bottom: 470px;
    font-size: 50px;
    left: 15px;
  }
}
