<div class="gallery">

  <div class="main-photo pt-0 pb-2">
    <img src="assets/112.jpg" class="photo-style w-100">
    <h1 class="big-text-photo">GALLERY</h1>
  </div>


  <div class="block-gallery py-5">

    <div class="row">
      <div class="col-md p-0">
        <img src="assets/5.jpg" alt="paint" class="paint w-100">
        <div class="name-paint">De sterrennacht</div>
      </div>
      <div class="col-md p-0">
        <img src="assets/6.jpg" alt="paint" class="paint w-100">
        <div class="name-paint">Madonna Litta</div>
      </div>
      <div class="col-md p-0">
        <img src="assets/7.jpg" alt="paint" class="paint w-100">
        <div class="name-paint">Nascita di Venere</div>
      </div>
    </div>

    <div class="row">
      <div class="col-md p-0">
        <img src="assets/8.jpg" alt="paint" class="paint w-100">
        <div class="name-paint">Над городом</div>
      </div>
      <div class="col-md p-0">
        <img src="assets/9.jpg" alt="paint" class="paint w-100">
        <div class="name-paint">Der Kuß</div>
      </div>
      <div class="col-md p-0">
        <img src="assets/10.jpeg" alt="paint" class="paint w-100">
        <div class="name-paint"> La Danse</div>
      </div>
    </div>

    <div class="row">
      <div class="col-md p-0">
        <img src="assets/11.jpeg" alt="paint" class="paint w-100">
        <div class="name-paint">La persistencia de la memoria</div>
      </div>
      <div class="col-md p-0">
        <img src="assets/12.jpg" alt="paint" class="paint w-100">
        <div class="name-paint">Девочка с персиками</div>
      </div>
      <div class="col-md p-0">
        <img src="assets/13.jpg" alt="paint" class="paint w-100">
        <div class="name-paint">Le fils de l'homme</div>
      </div>
    </div>

  </div>

</div>
