<a class="back" routerLink="/gallery">← Back</a>

<div *ngIf="paintingInfo" class="pb-5 painting-info-block">

  <div class="photo-block">
    <img src="http://localhost:3010/images/{{paintingInfo.picture}}" alt="photo" class="photo">
  </div>

  <div class="text-block">
    <div class="text-info">Name:</div>
    <div class="answer-info">{{paintingInfo.name}}</div>

    <div class="text-info">Genre:</div>
    <div class="answer-info">{{paintingInfo.genre}}</div>

    <div class="text-info">Author:</div>
    <div class="answer-info">{{paintingInfo.author}}</div>

    <div class="text-info">Year creation:</div>
    <div class="answer-info">{{paintingInfo.dateCreation | date: 'yyyy'}}</div>

  </div>

</div>
