.header-gallery{
  font-family: 'Lato', sans-serif;
}

.row{
  border: 1px solid #ebebeb;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 0;
  z-index: 1;
}
.navigation{
  font-size: 14px;
  color: #363d41;
  padding: 0;
  margin: 0;
}
