<div class="navbar navbar-expend-lg navbar-light py-3" style="background-color: white">
  <img src="assets/logo.png" alt="logo" class="mx-auto">
</div>

<div class="row text-center py-3">
  <a routerLink="/" class="col-md navigation">HOME</a>
  <a routerLink="/about" class="col-md navigation">ABOUT US</a>
  <a routerLink="/exhibitions" class="col-md navigation">EXHIBITIONS</a>
  <a routerLink="/gallery" class="col-md navigation">GALLERY</a>
  <a routerLink="/contacts" class="col-md navigation">CONTACTS</a>
</div>

