.main-gallery{
  font-family: 'Poppins', sans-serif;
}

.big-main-photo{
  height: 500px;
  object-fit: cover;
  position: relative;
}
.big-main-text{
  color: white;
  font-size: 100px;
  position: absolute;
  bottom: 500px;
  left: 80px;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  font-family: 'Poppins', sans-serif;

}
.small-main-text{
  color: white;
  font-size: 50px;
  position: absolute;
  bottom: 450px;
  left: 80px;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  font-family: 'Poppins', sans-serif;

}
.button-main{
  background-color: lightblue;
  color: white;
  font-size: 18px;
  position: absolute;
  left: 80px;
  bottom: 370px;
  /*text-shadow: 1px 1px 2px black;*/
  box-shadow: 0 0 10px black;
  font-family: 'Poppins', sans-serif;

}

.block-aboutUs{
  margin-right: 0;
}
.text-aboutUs{
  padding: 0;
  background-color: #f1f1f1;
  min-height: 300px;
  margin-right: 0;
  font-family: 'Poppins', sans-serif;

}
.big-text{
  color: black;
  font-size: 60px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;


}
.small-text{
  font-size: 14px;
  color: #9b9b9b;
  font-family: 'Poppins', sans-serif;

}
.color-or{
  color: lightblue;
  display: inline-block;
}
.color-bl{
  color: #151515;
  display: inline-block;
}
.sec{
  padding-left: 10px;
}

.line-separator{
  border-bottom: 1px solid #f1f1f1;
}
.line-separator-name{
  font-size: 36px;
  color: #151515;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}
.line-separators-text{
  font-size: 18px;
  color: #151515;
  font-family: 'Poppins', sans-serif;
}
/*.gallery-main-block {*/
/*  width: 100%;*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  justify-content: center;*/
/*}*/

/*.article {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  height: 500px;*/
/*  width: 100%;*/
/*}*/

/*.article-img {*/
/*  padding: 5px;*/
/*}*/

/*.article-small .article-img {*/
/*  display: inline-block;*/
/*  object-fit: cover;*/
/*  width: 100%;*/
/*  height: 50%;*/
/*}*/

/*.article-huge .article-img {*/
/*  display: inline-block;*/
/*  object-fit: cover;*/
/*  height: 100%;*/
/*  width: 100%;*/
/*}*/

.works-name{
  font-size: 24px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.bc-pricesTestimonials{
  background-color: #f1f1f1;
}

.type-picture{
  width: 80%;
  font-size: 24px;
  color: #151515;
  font-weight: 500;
  display: inline-block;
}

.price{
  font-size: 24px;
  color: #151515;
  font-weight: 500;
  display: inline-block;
  float: right;
}

.about-picture{
  font-size: 14px;
  color: #848484;
}

.main-testimonial{
  font-size: 24px;
  color: #151515;
  display: inline-block;
  font-weight: 700;
  width: 65%;
}

.second-testimonial{
  color: #848484;
  font-size: 14px;
}

@media (max-width: 600px) {
  .main-testimonial{
    width: 50%;
  }
}

@media (max-width: 950px) {
  .big-main-photo{
    height: 300px;
  }
  .big-main-text{
    font-size: 60px;
    left: 30px;
    bottom: 600px;
  }
  .small-main-text{
    font-size: 30px;
    left: 30px;
    bottom: 570px;
  }
  .button-main{
    font-size: 20px;
    left: 30px;
    bottom: 500px;
  }
}

@media (max-width: 767px) {
  .big-main-photo{
    height: 300px;
  }
  .big-main-text{
    bottom: 530px;
  }
  .small-main-text{
    bottom: 500px;
  }
  .button-main{
    bottom: 430px;
  }
}

@media (max-width: 550px) {
  .big-main-photo{
    height: 400px;
  }
  .big-main-text{
    bottom: 490px;
  }
  .small-main-text{
    bottom: 410px;
  }
  .button-main{
    bottom: 350px;
  }
}
