<div class="main-gallery">

  <div class="photo-block pb-5">
    <img src="assets/01.jpg" alt="photo gallery" class="w-100">
  </div>

  <div class="block-aboutUs pb-5">
    <div class="row">
      <div class="col-lg-7">
        <img src="assets/3.jpg" class="w-100 px-3" alt="photo gallery">
      </div>
      <div class="text-aboutUs col-lg mr-3 px-5 pt-5">
        <h2 class="big-text">About us</h2>
        <div class="small-text pt-2 ">Art Gallery is one of the country’s finest art museums welcoming over half a million visitors each year.</div>
       <div class="small-text pt-3">
         <nav class="color-or">Weekdays: </nav>	<nav class="color-bl"> 8:00–20:00</nav>
         <nav class="color-or sec">Weekends: </nav>	<nav class="color-bl"> 9:00–18:00</nav>
       </div>
      </div>
    </div>
  </div>


  <div class="line-separator p-3">
    <h3 class="line-separator-name d-inline-block">Works Of Artist</h3>
    <a routerLink="/gallery" class="d-inline-block float-right line-separators-text">See All Works</a>
  </div>


  <div class="gallery-main-block py-5 px-3">

    <article class="article article-huge">
      <img class="article-img" src="assets/5.jpg" alt="">
    </article>

    <article class="article article-small">
      <img class="article-img" src="assets/6.jpg" alt="">
      <img class="article-img" src="assets/7.jpg" alt="">
    </article>

    <article class="article article-huge">
      <img class="article-img" src="assets/8.jpg" alt="">
    </article>

    <article class="article article-small">
      <img class="article-img" src="assets/9.jpg" alt="">
      <img class="article-img" src="assets/10.jpeg" alt="">
    </article>
  </div>

  <div class="line-separator p-3">
    <h3 class="line-separator-name d-inline-block">A Little More About Us</h3>
  </div>


  <div class="prices-testimonials py-5">

    <div class="row">
      <div class="col-lg">
        <h3 class="works-name d-inline-block pl-5">Our Prices</h3>
        <div class="bc-pricesTestimonials m-3">
          <div class="type-picture pt-5 px-5">Acrylic</div>
          <div class="price pt-5 pr-5">$95</div>
          <div class="about-picture px-5">Acrylic paintings are the most popular among our artists, their clients, and our gallery visitors. This type of paintings is safe for your health and is less affected by heat, while expressing a vast range of colours.
          </div>
          <div class="type-picture pt-5 px-5">Oil</div>
          <div class="price pt-5 pr-5">$55</div>
          <div class="about-picture px-5">Being a basic painting material for artists since ancient times, oil provides great possibilities even today. Its transparency, opacity, and translucency allow to create the most captivating color fusions.
          </div>
          <div class="type-picture pt-5 px-5">Mixed Technique</div>
          <div class="price pt-5 pr-5">$15</div>
          <div class="about-picture px-5 pb-5">A mixed media painting is one which combines different painting and drawing materials and methods, rather than only one medium. Such artworks are becoming more popular due to artists’ intense creativity.
          </div>
        </div>
      </div>

      <div class="col-lg">
        <h3 class="works-name d-inline-block pl-5">Testimonials</h3>
        <div class="bc-pricesTestimonials m-3">
          <div class="testimonial">
            <img src="assets/testimonials.png" class="p-5 d-inline-block">
            <div class="main-testimonial pt-5 pr-5">Great atmosphere and lots ov impressive paintings</div>
          </div>
          <div class="second-testimonial px-5 pb-5">My friends is an connoisseur, so she brought me here and I`m amazed. I got to see so many different types of beautiful art in one place, so I`m thrilled and i feel like Art Gallery helps me develop my taste for art. I think it`s nice that there`s a big range of prices and I`m considering buying a painting here.</div>
        </div>
      </div>

    </div>
  </div>

</div>
