.back {
  display: inline-block;
  outline: none;
  padding: 20px 40px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: #4a4a4a;
}

.col-md {
  padding: 0;
}

.artist-info-block {
  width: 100%;
  display: flex;
  justify-content: center;
}

.photo {
  width: 100%;
}

.text-block {
}

.text-info {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: #add8e6 !important;
  padding: 10px 0;
}

.answer-info {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  /*font-weight: bold;*/
  color: #151515;
}
