.about-us {
  font-family: 'Poppins', sans-serif;
}

.row {
  width: 100%;
}

.main-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-style {
  object-fit: cover;
  height: 300px;
  position: relative;
}

.big-text-photo {
  color: white;
  position: absolute;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  font-size: 80px;
  font-family: 'Poppins', sans-serif;
}

.artist-photo {
  padding: 16px;
  object-fit: cover;
  text-align: center;
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.painter {
  color: #151515;
  font-size: 20px;
  text-align: center;
}

.col-md {
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.input-block{
  padding: 32px 16px 0 16px;
  display: flex;
  justify-content: flex-end;
}
.input-style{
  width: 368px;
  padding-left: 25px;
}
.icon-style{
  height: 26px;
  margin-right: -22px;
  position: relative;
}


@media (max-width: 500px) {
  .artist-photo {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .big-text-photo {
    font-size: 50px;
  }
}
