.gallery-main-block{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  flex-wrap: wrap;
}
.block-with-array{
  width: 25%;
}

.article-huge{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.article-small{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.article-img {
  padding: 5px;
}

