<!--<div class="gallery-in-main py-5">-->

<!--  <mat-grid-list cols="4" rowHeight="50%" class="gallery-grid">-->
<!--    <mat-grid-tile-->
<!--      *ngFor="let item of list"-->
<!--      [rowspan]="item.rows"-->
<!--      [colspan]="item.cols">-->
<!--      <img src="{{item.url}}" alt="paint" class="picture-gallery">-->
<!--    </mat-grid-tile>-->

<!--  </mat-grid-list>-->

<!--</div>-->




  <div class="gallery-main-block py-5 px-3">

    <article class="article article-huge" *ngFor="let item of list">
      <img class="article-img" src="{{item.url}}" alt="paint">
    </article>

    <article class="article article-small" *ngFor="let item of list">
      <img class="article-img" src="{{item.url}}" alt="paint">
      <img class="article-img" src="{{item.url}}" alt="paint">
    </article>

<!--    <article class="article article-huge">-->
<!--      <img class="article-img" src="assets/8.jpg" alt="">-->
<!--    </article>-->

<!--    <article class="article article-small">-->
<!--      <img class="article-img" src="assets/9.jpg" alt="">-->
<!--      <img class="article-img" src="assets/10.jpeg" alt="">-->
<!--    </article>-->
  </div>
