<div class="gallery">

  <div class="main-photo pt-0">
    <img src="../../../assets/112.jpg" class="photo-style w-100">
    <h1 class="big-text-photo">GALLERY</h1>
  </div>

  <div class="options-block">

    <div class="input-block">
      <svg width="13px" height="13px" viewBox="0 0 16 16" class="bi bi-search icon-style" fill="currentColor"
           xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
              d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
        <path fill-rule="evenodd"
              d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
      </svg>
      <input type="text" [ngModel]="searchPainting" (ngModelChange)="searchPaintingChange($event)" class="input-style"
             placeholder="Search by name">
    </div>

  </div>


  <div class="block-gallery py-3">
    <div class="row">
      <div *ngFor="let item of painting | artistSearch:searchPainting" class="col-md p-0" [routerLink]="[item._id]">
        <img src="http://localhost:3010/images/{{item.picture}}" alt="paint" class="paint">
        <div class="name-paint">{{item.name}}</div>
      </div>
    </div>

  </div>

</div>
