<div class="gallery">

  <div class="main-photo pt-0 pb-2">
    <img src="../../../assets/112.jpg" class="photo-style w-100">
    <h1 class="big-text-photo">GALLERY</h1>
  </div>


  <div class="block-gallery py-5">
    <div class="row">
      <div *ngFor="let item of painting" class="col-md p-0" [routerLink]="[item._id]">
        <img src="http://localhost:3010/images/{{item.picture}}" alt="paint" class="paint">
        <div class="name-paint">{{item.name}}</div>
      </div>
    </div>

  </div>

</div>
